<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="static/javascripts/main.js"></script>
    <!-- fonts awesome -->
    <script src="https://kit.fontawesome.com/5d5f5b58ca.js" crossorigin="anonymous"></script>
    <!-- style global settings -->
    <link rel='stylesheet' href='./static/stylesheets/style.css' />
    <!-- link stylesheet -->
    <link rel="stylesheet" href="./static/stylesheets/contact.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('templates/header') %>

    <main>
        <h1>Contactame</h1>
        <form action="">
            <label >
                Correo: 
                <input type="text">
            </label>
            <label >
                Razón: 
                <input type="text">
            </label>
            <label >
                Mensaje: 
                <input type="text">
            </label>
        </form>
    </main>
</body>
</html>