<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style global settings -->
    <link rel='stylesheet' href='./static/stylesheets/style.css' />
    <!-- link styles -->
    <link rel="stylesheet" href="./static/stylesheets/index.css">
    <title>Inicio</title>
</head>

<body>
    <header>
        <%- include('templates/nav') %>
    </header>
    <section class="header_section">

        <div class="header_section_text">
            <h1 class="header_section_tittle">Daniel Roa</h1>
            <h2 class="header_section_description">Desarrollador backend</h2>
            <div class="header_section_social">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100005910945632"><i
                        class="fa-brands fa-facebook"></i></a>
                <a target="_blank" href="https://github.com/xXlion370Xx"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <a href="#projects" class="down_to_projects"><i class="fa-solid fa-down-long"></i></a>
    </section>
</body>

</html>