<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="static/javascripts/main.js"></script>
    <!-- fonts awesome -->
    <script src="https://kit.fontawesome.com/5d5f5b58ca.js" crossorigin="anonymous"></script>
    <!-- style global settings -->
    <link rel='stylesheet' href='./static/stylesheets/style.css' />
    <!-- link stylesheet -->
    <link rel='stylesheet' href='./static/stylesheets/skills.css' />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('templates/nav') %>
        <main>
            <h1>Habilidades</h1>
            <div class="main_container">
                <section>
                    <i class="fa-brands fa-css3-alt"></i>
                    <div class="level_skills">
                        <p>Mid level</p><br>
                        <hr class="level-bar">
                    </div>
                </section>
                <section>
                    <i class="fa-brands fa-square-js"></i>
                    <div class="level_skills">
                        <p>Mid level</p><br>
                        <hr class="level-bar">
                    </div>
                </section>
                <section>
                    <i class="fa-brands fa-php"></i>
                    <div class="level_skills">
                        <p>Mid level</p><br>
                        <hr class="level-bar">
                    </div>
                </section>
                <section>
                    <i class="fa-brands fa-java"></i>
                    <div class="level_skills">
                        <p>Mid level</p><br>
                        <hr class="level-bar">
                    </div>
                </section>
                <section>
                    <i class="fa-brands fa-python"></i>
                    <div class="level_skills">
                        <p>Beginner</p><br>
                        <hr class="level-bar">
                    </div>
                </section>
                <section>
                    <i class="fa-brands fa-git-alt"></i>
                    <div class="level_skills">
                        <p>Mid level</p>
                        <hr class="level-bar">
                    </div>
                </section>
            </div>
        </main>

</body>


</html>