<header>
    <a class="name" href="#">Daniel Roa</a>
    <nav>
        <ul>
            <li><a href="">Habilidades</a></li>
            <li><a href="">Sobre mi</a></li>
            <li><a href="">Educacion</a></li>
            <!-- <li></li> -->
        </ul>
    </nav>
</header>