<header>
    <a class="name" href="#">Daniel Roa</a>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="skills">Habilidades</a></li>
            <li><a href="about">Sobre mi</a></li>
            <li><a href="education">Educacion</a></li>
        </ul>
    </nav>
</header>