header {
    background-color: #1d2429;
}

main {
    text-align: center;
    width: 90vw;
    height: 100%;
    margin: 140px auto;
    border-radius: 15px;
    padding: 5% 0;
    /* flex-direction: column; */
    /* align-items: center; */
    background: #1d2429;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section p {
    width: 70%;
    font-weight: bold;
    text-align: justify;
}


.foto {
    width: 60%;
    background-size: cover;
    background-position: center;
}