header {
    background-color: #1d2429;
}

main {
    text-align: center;
    width: 90vw;
    height: 100%;
    margin: 140px auto;
    border-radius: 15px;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1d2429;
}

form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #0e1a22;
    padding: 50px;
    border-radius: 10px;
}