/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #303B42;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.5px;
}

/*------- Styles for nav bar ------ */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  align-items: center;
}

.sticky {
  background: #303B42;
  transition: 1s;
}

.name {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0;
}

header nav {
  width: calc(100% - 30%);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  /* background-color: blue; */
}

nav ul li {
  position: relative;
  /* margin: 5px; */
  list-style: none;
  text-align: center;
  /* background-color: red; */
}

nav ul li:hover {
  border-radius: 15px;
  background: linear-gradient(to right, #2095D8, #06466B);
}

main {
  width: 100%;
}