<nav class="nav">
    <ul class="ul">
        <li>Experience</li>
        <li>Projects</li>
        <li>About me</li>
        <li>Technologies</li>
    </ul>
</nav>
<style>
    .nav {
        width: 65%;
        height: 5%;
        /* background-color: blue; */
    }

    .ul {
        /* background-color: red; */
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }
</style>
